
/* -------------- all -------------- */

@font-face {
    font-family: 'BankGothic';
    src: url(BankGothic.ttf);
    font-style: bold;
    font-weight: bold;
}

body {
    font-family: 'BankGothic', sans-serif;
    overflow: hidden;
}

.start, .shoot {
    display: block;
    height: 6.5vh;
    width: 10vw;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 2.5vw;
    font-weight: 900;
    cursor: pointer;
    font-family: 'BankGothic', sans-serif;
}

/* -------------- intro -------------- */

#intro {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: auto;
    padding: 3% 0;
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
}

h1, h2 {
    text-align: center;
    color: rgb(248, 148, 59);
}

h1 {
    font-size: 3vw;
    margin-top: 0;
}

h2 {
    font-size: 2.5vw;
    padding: 0 10vw;
}

button.start {
    margin: 2% auto 0 auto;
    background: rgb(248, 148, 59);
    box-shadow: inset -5px -5px rgba(163, 89, 43, 0.98);
    color: black;
}

.logo {
    display: block;
    margin: -1% auto 0 auto;
    height: 50vh;
}

/* -------------- game -------------- */

#game {
    height: 100vh;
    width: 100vw;
    background-color: white;
    animation: move-left 1s steps(10) 6;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    color: rgb(139, 214, 72);

    visibility: hidden;
    overflow: hidden;
}

#guess_div {
    border: 3px solid rgb(139, 214, 72);
    border-radius: 25px;
    box-shadow: 15px 15px 15px rgba(159, 159, 159, 0.71);
    height: 300px;
    width: 400px;
    margin: auto;
    opacity: 0;
    visibility: hidden;
}

#guess_input {
    display: block;
    height: 50px;
    width: 120px;
    margin: 40px auto 0 auto;
    font-size: 30px;
    text-align: center;
    font-family: 'BankGothic', sans-serif;
}

#response_div1, #response_div2 {
    height: 100px;
    width: 1100px;
    margin: 25px auto 0 auto;
    font-size: 60px;
    text-align: center;
}

button.shoot {
    margin: 20px auto 0 auto;
    background: rgb(139, 214, 72);
    box-shadow: inset -5px -5px rgba(114, 183, 66, 0.97);
    color: white;
}

p {
    text-align: center;
    font-size: 40px;
    padding: 5px 0 0 0;
}

/* -------------- grass -------------- */

#grass {
    background: url(images/grass.jpg);
    background-repeat: repeat-x;
    width: 206vw;
    height: 202px;
    animation: move-left 0.8s steps(6) infinite;
    position: absolute;
    bottom: 0;
    left: 0;
}

@keyframes move-left {
    from { background-position: 0px; }
    to { background-position: -250px; }
}

/* -------------- katniss -------------- */

#katniss {
    background: url(images/katniss1.png);
    width: 256px;
    height: 256px;
    animation: walk-east 0.6s steps(6) infinite;
    position: absolute;
    bottom: 123px;
    left: 60px;
}

@keyframes walk-east {
    from { background-position: 0px; }
    to { background-position: -1536px; }
}

/* -------------- arrow -------------- */

#arrow_container {
    height: 34px;
    width: 150vw;
    position: relative;
}

#arrow {
    background: url(images/arrow.png);
    height: 34px;
    width: 160px;
    position: absolute;
    bottom: 180px;
    left: 135px;
    opacity: 0;
    visibility: hidden;
}

#arrow_up {
    background: url(images/arrow_up.png);
    height: 64px;
    width: 168px;
    position: absolute;
    bottom: 180px;
    left: 135px;
    opacity: 0;
    visibility: hidden;
}

#arrow_down {
    background: url(images/arrow_down.png);
    height: 64px;
    width: 168px;
    position: absolute;
    bottom: 180px;
    left: 135px;
    opacity: 0;
    visibility: hidden;
}

/* -------------- tribute -------------- */

#tribute {
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 1800px;
}

/* -------------- lives -------------- */

.material-icons {
    color: red;
    font-size: 60px;
}

.material-icons:first-child {
    padding: 1% 0 0 1%;
}

/* -------------- game over -------------- */

#game_over {
    height: 100vh;
    width: 100vw;
    background-color: black;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.fallen {
    display: block;
    margin: 0 auto 20px auto;
    height: 60vh;
}

button.play, button.quit {
    background: rgb(44, 76, 99);
    box-shadow: inset -5px -5px rgba(24, 44, 66, 0.98);
    color: black;

    text-align: center;
    height: 6.5vh;
    width: 10vw;
    border: none;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    font-size: 2.5vw;
    font-weight: 900;
    cursor: pointer;
    font-family: 'BankGothic', sans-serif;
    margin: 10px;
}

.game-over > p {
    color: rgb(44, 76, 99);
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}